body {
  font-family: "Roboto";
}

h1,
h4 {
  text-align: center;
  margin: 30px;
  padding: 30px;
}

.footer {
  position: absolute;
  background-color: #ffffff;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 0.85em;
}

.step {
  margin-bottom: 2rem;
}

.info,
td {
  text-align: center;
}

.btn-danger {
  bottom: 0;
  left: 3.5em;
  display: inline;
}

.btn-warning,
.pd {
  display: block;
  bottom: 0;
}

.input-group-prepend {
  width: 4em;
}
