<!doctype html>
<html lang="en">
<head>
  <title>HES Recipes</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/application.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/colorbox.css">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="container">
    <%= yield %>
  </div>
    
<script type="text/javascript" src="/javascripts/jquery.colorbox-min.js"></script>
<script type="text/javascript" src="/javascripts/hesrecipes.js"></script>
</body>
</html>
